@import url('reset.css');
@import url('gridlover.css');

:root{
    /* -----------------------------fonts */
    font-size: 62.5%;

    /*---------------------------- colors */
    --dark-blue-color: #2C3E50;
    --red-color: #E74C3C;
    --white-color: #ECF0F1;
    --main-blue: #3498DB;
    --second-blue: #2980B9;
    /* ---------------------------------- */

}

*,
*::after,
*::before{
    box-sizing: border-box;
}

.hide{
    position: absolute;
    clip:rect(0px 0px 0px 0px);
    *clip: rect(0 0 0 0);
}

header{

}


