@import url('reset.css');

:root{
    /* fonts */
    font-size: 62.5%;
    --font-family-Bree-Serif: var(--font-family-Bree-Serif);
    --font-family-Open-Sans: 'Open Sans', sans-serif;
    /*colors */
    background-color: var(--color-main-white);
    --box-shadow-property: 3px 3px 30px 4px rgba(204, 204, 204, .9);
    --color-forest: #1e2d34;
    --color-main-gray: #bcbebd;
    --color-main-white: #fff8f6;
    --color-main-blue: #678899;
    --color-sky: #718289;
}

/* wielkość fontów */

:root{
    --main-h1-font-size: calc(4.25rem*2);
    --main-h1-line-height: calc(5.2rem*2);
    --main-h2-font-size: 2.6rem;
    --main-h2-line-height: 2.6rem;
    --main-h3-font-size: 1.6rem;
    --main-h3-line-height: 2.6rem;
    --main-p-font-size: 2rem;
    --main-p-line-height: 2rem;
}
/* ------------------- */
*,
*::after,
*::before{
    box-sizing: border-box;
}

.hide{
    position: absolute;
    clip:rect(0px 0px 0px 0px);
    *clip: rect(0 0 0 0);
}

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.center {
    margin-left: auto;
    margin-right: auto;
}

.grid-center{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 3rem;
    grid-auto-flow: row;
}

.box-s{
    box-shadow: var(--box-shadow-property);
}

section{
    margin: 5rem 0;
    padding: 5rem 0;
}
/* --------------------FONTS */
h2{
    font-size: 6rem;
    font-family: 'Bree Serif',
    serif;
    margin: 5rem 0;
}

h2 + p{
    font-size: 2em;
    margin-bottom: 3rem;
}

p{
    font-size: var(--main-p-font-size);
    line-height: var(--main-p-line-height);
    font-family: var(--font-family-Open-Sans);
}

h3{
    font-size: var(--main-h3-font-size);
    line-height: var(--main-h3-line-height);
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font-family-Bree-Serif);
    font-weight: bold;
}
/* ------------NAV */
nav{
    background-color: rgba(255, 255, 255, .1);
    height: 10vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
}

nav ul li > a{
    color: var(--color-forest);
    text-decoration: none;
}

nav > ul{
    display: flex;
    justify-content: center;
}

nav > ul > li{
     padding: 3rem;
     text-decoration: none;
     align-self: center;
     font-size: var(--main-p-font-size);
     line-height: var(--main-p-font-size);
     font-family: 'Bree Serif',
     serif;
}
/* -------------------------HEADER */
header{
    background: url('/_assets/_img/background.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header h1{
    font-size: var(--main-h1-font-size);
    line-height: var(--main-h1-line-height);
    font-weight: bold;
    font-family: 'Bree Serif',
    serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header > .social-media ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header > .social-media li a>i{
    font-size: 6rem;
    color: black;
    padding: .7rem;
}

header>.social-media li{
    border-radius: 50%;
    border: 3px solid var(--color-main-white);
    margin: 4rem;
    background-color: white;
    transition: 1s;
    z-index: 1;
}

header>.social-media li:hover {
    border: 3px solid var(--color-forest);
}

header>.social-media li:nth-child(odd) {
    padding-left: 3px;
}
/* -------------------AboutMe */
figure img[alt="Author"] {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 3px var(--color-forest) solid;
    transform: rotate(-11deg);
}
section:first-child figure{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    font-size: var(--main-p-font-size);
    background-color: var(--color-main-gray);
    box-shadow: var(--box-shadow-property);
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    padding: 4rem;
    width: 80vw;
}

section:first-child figure img{
    margin: 3rem;
}
/* -----------Skills */
section:nth-child(2) .row:last-child img {
    width: 20rem;
    filter: grayscale();
    transition: .5s;
}
section:nth-child(2) .row:last-child img:hover {
    filter: grayscale(0);
    transform: scale(0.9);

}

/* -----------------Works */
section:nth-child(3) div.row {
    background-color: var(--color-sky);
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    box-shadow: var(--box-shadow-property);
}

section:nth-child(3) div.row div {
    width: 70%;
    height: 50%;
    box-shadow: var(--box-shadow-property);
    justify-self: center;
    background: var(--color-main-white) url('/_assets/_img/project.jpg') center/cover no-repeat;
}
/* ------------------------Contact */
section:last-child form{
    display: flex;
    flex-direction: column;
    font-size: var(--main-p-font-size);
    font-family: var(--font-family-Open-Sans);
    padding: 5rem;
    min-width: 30vw;
    margin: 4rem 0;
    padding: 5rem;
}

section:last-child .contact-details a{
    font-size: var(--main-h3-font-size);
    color: var(--color-forest);
    font-family: var(--font-family-Open-Sans);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin: 2rem 3rem 2rem 0;

}

section:last-child .contact-details i{
    margin: 0 4rem 2rem 0;
    font-size: var(--main-h3-font-size);
}

section:last-child .contact-details {
    padding: 5rem;
    min-width: 30vw;
    margin: 4rem 0;
}

section:last-child form input,
section:last-child form textarea,
section:last-child form button {
    width: 300px;
    color: var(--color-forest);
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: var(--main-p-font-size);
    margin: 1rem 0;
    resize: none;
}

section:last-child form.box-s label{
    font-weight: bold;
}


section:last-child form.box-s button {
    background-color: #36b03c;
    padding: 15px 10px;
    cursor: pointer;
    border: none;
    letter-spacing: 2px;
    color: var(--color-main-white);
}
/* ----------------------------Footer */
footer {
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: var(--color-main-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    color: var(--main-color);
    font-style: var(--font-family-Bree-Serif);
    font-size: var(--main-p-line-height);
}

/* ------------------------------MediaQueries */
@media all and (min-width: 1200px) {
    :root {
        --main-h2-font-size: calc(2.6rem*2);
        --main-h2-line-height: calc(2.6rem*2);
        --main-h3-font-size: calc(1.6rem*2);
        --main-h3-line-height: calc(2.6rem*2);
    }
}

@media all and (min-width: 768px) and (max-width: 959px) {
    .grid-center {
        display: flex;
        flex-flow: row wrap;
    }

    section:last-child form {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    section:last-child .contact-details {
        width: 100%;
        padding: 0 20rem;
    }

    section:nth-child(2) .row:last-child img {
        width: 16rem;
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
    }
    nav 
}

@media all and (min-width: 480px) and (max-width: 767px) {

    :root {
        --main-h1-font-size: calc(4.25rem*1.5);
        --main-h1-line-height: (5.2rem*1.5);
    }
    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
        grid-template-columns: 1fr;
    }

    section:nth-child(2) .row:last-child img {
        width: 16rem;
    }

     .grid-center {
         display: flex;
         flex-flow: row wrap;
     }

     section:last-child form {
         width: 100%;
         justify-content: center;
         align-items: center;
     }

     section:last-child .contact-details {
         width: 100%;
     }

     section:nth-child(2) .row:last-child img {
         width: 16rem;
         text-decoration: none;
     }

     section:first-child figure {
         width: 100%;
         margin: 0 2rem;
     }

     footer p{
         font-size: 1.4rem;
     }
}

@media all and (max-width: 599px) {

    :root {
        --main-h1-font-size: 4.25rem;
        --main-h1-line-height: 5.2rem;
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
        grid-template-columns: 1fr;
    }

    section:nth-child(2) .row:last-child img {
        width: 16rem;
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
        grid-template-columns: 1fr;
    }

     .grid-center {
         display: flex;
         flex-flow: row wrap;
     }

     section:last-child form {
         width: 100%;
         justify-content: center;
         align-items: center;
     }

     section:last-child .contact-details {
         width: 100%;
         padding: 0 13rem;
     }

     section:nth-child(2) .row:last-child img {
         width: 16rem;
     }

     section:first-child figure {
         width: 100%;
         margin: 0 2rem;
     }
     footer p {
         font-size: 1.4rem;
     }

     nav>ul>li {
         font-size: calc(var(--main-p-font-size)/2);
         line-height: var(--main-p-font-size);
         padding: 1rem;
     }
}

@media all and (max-width: 479px) {

    :root {
        --main-h1-font-size: 4.25rem;
        --main-h1-line-height: 5.2rem;
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
        grid-template-columns: 1fr;
    }

    section:nth-child(2) .row:last-child img {
        width: 16rem;
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
        grid-template-columns: 1fr;
    }

     .grid-center {
         display: flex;
         flex-flow: row wrap;
     }

     section:last-child form {
         width: 100%;
         justify-content: center;
         align-items: center;
     }

     section:last-child .contact-details {
         width: 100%;
         padding: 0 10rem;
     }

     section:nth-child(2) .row:last-child img {
         width: 16rem;
     }

     section:first-child figure {
         width: 100%;
         margin: 0 2rem;
     }

     header>.social-media li a>i {
         font-size: 4rem;
         color: black;
         padding: .4rem;
     }

     header>.social-media li {
         border-radius: 50%;
         border: 2px solid var(--color-main-white);
         margin: 4rem;
         background-color: white;
         transition: 1s;
         z-index: 1;
     }

    footer p {
    font-size: 1.4rem;
    }

    nav>ul>li {
        font-size: calc(var(--main-p-font-size)/2);
        line-height: var(--main-p-font-size);
        padding: 1rem;
        overflow: none;
    }
}