/* ------------------------------MediaQueries */
@media all and (min-width: 1200px) {
    :root {
        --main-h2-font-size: calc(2.6rem*2);
        --main-h2-line-height: calc(2.6rem*2);
        --main-h3-font-size: calc(1.6rem*2);
        --main-h3-line-height: calc(2.6rem*2);
    }
}

@media all and (min-width: 768px) and (max-width: 959px) {
    .grid-center {
        display: flex;
        flex-flow: row wrap;
    }

    section:last-child form {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    section:last-child .contact-details {
        width: 100%;
        padding: 0 20rem;
    }

    section:nth-child(2) .row:last-child img {
        width: 16rem;
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
    }

    nav
}

@media all and (min-width: 480px) and (max-width: 767px) {

    :root {
        --main-h1-font-size: calc(4.25rem*1.5);
        --main-h1-line-height: (5.2rem*1.5);
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
        grid-template-columns: 1fr;
    }

    section:nth-child(2) .row:last-child img {
        width: 16rem;
    }

    .grid-center {
        display: flex;
        flex-flow: row wrap;
    }

    section:last-child form {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    section:last-child .contact-details {
        width: 100%;
    }

    section:nth-child(2) .row:last-child img {
        width: 16rem;
        text-decoration: none;
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
    }

    footer p {
        font-size: 1.4rem;
    }
}

@media all and (max-width: 599px) {

    :root {
        --main-h1-font-size: 4.25rem;
        --main-h1-line-height: 5.2rem;
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
        grid-template-columns: 1fr;
    }

    section:nth-child(2) .row:last-child img {
        width: 16rem;
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
        grid-template-columns: 1fr;
    }

    .grid-center {
        display: flex;
        flex-flow: row wrap;
    }

    section:last-child form {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    section:last-child .contact-details {
        width: 100%;
        padding: 0 13rem;
    }

    section:nth-child(2) .row:last-child img {
        width: 16rem;
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
    }

    footer p {
        font-size: 1.4rem;
    }

    nav>ul>li {
        font-size: calc(var(--main-p-font-size)/2);
        line-height: var(--main-p-font-size);
        padding: 1rem;
    }
}

@media all and (max-width: 479px) {

    :root {
        --main-h1-font-size: 4.25rem;
        --main-h1-line-height: 5.2rem;
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
        grid-template-columns: 1fr;
    }

    section:nth-child(2) .row:last-child img {
        width: 16rem;
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
        grid-template-columns: 1fr;
    }

    .grid-center {
        display: flex;
        flex-flow: row wrap;
    }

    section:last-child form {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    section:last-child .contact-details {
        width: 100%;
        padding: 0 10rem;
    }

    section:nth-child(2) .row:last-child img {
        width: 16rem;
    }

    section:first-child figure {
        width: 100%;
        margin: 0 2rem;
    }

    header>.social-media li a>i {
        font-size: 4rem;
        color: black;
        padding: .4rem;
    }

    header>.social-media li {
        border-radius: 50%;
        border: 2px solid var(--color-main-white);
        margin: 4rem;
        background-color: white;
        transition: 1s;
        z-index: 1;
    }

    footer p {
        font-size: 1.4rem;
    }

    nav>ul>li {
        font-size: calc(var(--main-p-font-size)/2);
        line-height: var(--main-p-font-size);
        padding: 1rem;
        overflow: none;
    }
}